[lang="ja"] input, [lang="ja"] textarea, [lang="ja"] .input-prefix, [lang="ja"] .input-suffix {
    font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {height:100%;}
body {height:100%; padding: 0}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

.content-wrap {
	position: relative;
    min-height: 500px;
    width: 100%;
    padding: 20px 50px 40px 50px;
    margin-bottom: 0px;
    text-align: center;
    display: inline-block;
}

.content-header {
    padding: 20px 0 10px 20px;
    margin: 0;

    h1 {
		small {
			font-size:16px;
			color: #3D5AFE;
			cursor: pointer;

			&::before {
			    content: "\f105";
			    color: #424242;
			    display: inline-block;
			    font-family: FontAwesome;
			    margin: 0 10px 0 10px;
			}
		}    	
    }
}

.content-top-space {
  margin-top: 30px;
}

.space-top-2 {
    margin-top: 12.5px;
}

.space-left-3 {
    margin-left: 20px;
}

.row-space-2 {
    margin-bottom: 12.5px;
}

.error-message {
    color: #FE5A5F;
}
