[lang="ja"] input, [lang="ja"] textarea, [lang="ja"] .input-prefix, [lang="ja"] .input-suffix {
  font-family: Hiragino Sans,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {height:100%;}
body {height:100%; padding: 0}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

.relative {
  position: relative;
}

.nona-appearance {
  appearance: none;
  -webkit-appearance: none;
}

.bg-gray {
  background-color: #F5F5F5;
}

.content-wrap {
	position: relative;
    min-height: 500px;
    width: 100%;
    padding: 20px 50px 40px 50px;
    margin-bottom: 0px;
    text-align: center;
    display: inline-block;
}

.content-header {
  padding: 20px 0 20px 0;

  h1 {
		small {
			font-size:16px;
			color: #3D5AFE;
			cursor: pointer;

			&::before {
		    content: "\f105";
		    color: #424242;
		    display: inline-block;
		    font-family: FontAwesome;
		    margin: 0 10px 0 10px;
			}
		}    	
  }
}

.content-top-space {
    margin-top: 30px;
}

.space-top-1 {
    margin-top: 6px;
}
.space-top-2 {
    margin-top: 12px;
}
.space-top-3 {
    margin-top: 24px;
}
.space-top-4 {
    margin-top: 36px;
}
.space-top-5 {
    margin-top: 48px;
}

.space-bottom-1 {
    margin-bottom: 6px;
}
.space-bottom-2 {
    margin-bottom: 12px;
}
.space-bottom-3 {
    margin-bottom: 24px;
}
.space-bottom-4 {
    margin-bottom: 48px;
}

.space-right-1 {
    margin-right: 6px;
}
.space-right-2 {
    margin-right: 12px;
}

.space-left-1 {
    margin-left: 6px;
}
.space-left-2 {
    margin-left: 12px;
}
.space-left-3 {
    margin-left: 18px;
}

.row-space-2 {
    margin-bottom: 12.5px;
}

.error-message {
    color: #FE5A5F;
}

.has-border {
    border: 1px solid #dce0e0;
}

.right-panel {
    margin: 40px;
    background-color: #FFF;
}

label.error, span.error {
    color: red;
}

span.list-head {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-weight: 600;
}

span.list-body {
  display: inline-block;
  width: 450px;
}

.global-alert {
  z-index: 999;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 64px;
  background-color: #D32F2F;

  p {
    font-size: 1.1em;
    color: white;
    text-align: center;
    margin-top: 15px;
  }
}
