.room-info-wrap {
	width: 100%;
	min-width: 800px;
	background-color: white;

	.room-key-wrap {
		height: 100%;

		p {
			margin: 0;
			span{
				margin-left: 20px;
				&:nth-child(1) {
					margin-top: 20px;
				}

				&:nth-child(2) {
					font-size: 28px;
					margin-top: 20px;
				}
			}
		}
	}

	.room-title-wrap {
		p {
			margin-left: 20px;
			margin-top: 20px;
			font-size: 28px;
		}
	}

	.room-detail-wrap {
		p {
			margin-left: 20px;
			margin-top: 10px;
			font-size: 16px;
			span:nth-child(1) {
				display: inline-block;
				width: 100px;
			}
			span:nth-child(2) {
				font-weight: 600;
			}
		}
	}

	.room-time-wrap {
		p {
			margin-left: 20px;
			margin-top: 10px;
			font-size: 16px;
			span:nth-child(1) {
				display: inline-block;
				width: 100px;
			}
			span:nth-child(2) {
				font-weight: 600;
			}
		}
	}
}

#message-wrap {
	div.message-node {
	    position: relative;
	    margin : 10px 0 0 0;
	    padding: 10px;
	    border-radius: 4px;
	    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	    background-color: white;
	    min-height: 80px;

        div.likes-wrap {
            position: absolute;
            top: 1rem;
            right: 10px;
            padding: 0 5px;

            p.likes {
                left: 0;
                padding: 0;
                margin: 0;
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.6rem;
                text-align: center;
            }
        }

		div.message-text {
            margin: 0 6rem 2rem 0;

            p {
                font-size: 1.3rem;
                line-height: 2rem;
                white-space: normal;
                margin: 0;
                width: 100%;
                word-wrap: break-word;
            }
		}

	    div.message-info {
	        position: absolute;
	        bottom: 0;
	        left: 2rem;
	        width:calc(100% - 9rem);
	        margin: 0 6rem 0.5rem 0;
	        font-size: 1rem;
	        color: #BDBDBD;

	        div:nth-child(1) {
	            text-align: left;
	            float: left;
	        }

	        div:nth-child(2) {
	            text-align: right;
	        }
	    }
	}
}

#pie-wrap {
	padding: 0;
	height: 250px;

	div {
		position: relative;

		canvas {
          position: absolute;
          top: 250px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 200px;
          height: 200px;
		}

		div.chart-center {
          position: absolute;
          top: 250px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 80px;
          height: 80px;

          p {
          	line-height: 80px;
          	text-align: center;
          	margin: 0;

			span:nth-child(1) {
				font-size: 30px;
			}
			span:nth-child(2) {
				font-size: 16px;
			}
			span:nth-child(3) {
				font-size: 16px;
			}
          }
		}
	}
}
