.room-info-wrap {
	width: 900px;
	background-color: white;

	.room-key-wrap {
		height: 100%;

		p {
			margin: 0;
			span{
				margin-left: 20px;
				&:nth-child(1) {
					margin-top: 20px;
				}

				&:nth-child(2) {
					font-size: 28px;
					margin-top: 20px;
				}
			}
		}
	}

	.room-title-wrap {
		p {
			margin-left: 20px;
			margin-top: 20px;
			font-size: 28px;
		}
	}

	.room-detail-wrap {
		p {
			margin-left: 20px;
			margin-top: 10px;
			font-size: 16px;
			span:nth-child(1) {
				display: inline-block;
				width: 100px;
			}
			span:nth-child(2) {
				font-weight: 600;
			}
		}
	}

	.room-time-wrap {
		p {
			margin-left: 20px;
			margin-top: 10px;
			font-size: 16px;
			span:nth-child(1) {
				display: inline-block;
				width: 100px;
			}
			span:nth-child(2) {
				font-weight: 600;
			}
		}
	}
}

#message-wrap {
	height: 575px;
	overflow-y: scroll;
}

#pie-wrap {
	padding: 0 20px;
}

#line-wrap {
	background-color: white;
	padding: 0 20px;
}