.label-large {
    padding-bottom: 5px;
    padding-top: 11px;
    margin: 0;
}

.input-large {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  height: 44px;
}

.input-large:focus {
  padding: 9px;
}

.overview-summary {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  height: 135px;
}

.overview-summary:focus {
  padding: 9px;
}

.select-block {
  display: block;
  width: 100%;
}

.select select {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  height: 44px;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, .input-prefix, .input-suffix {
    display: block;
    width: 100%;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;
}

[type="text"]:focus, [type="password"]:focus, [type="search"]:focus, [type="email"]:focus, [type="url"]:focus, [type="number"]:focus, [type="tel"]:focus, textarea:focus, select:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, .input-prefix:focus, .input-suffix:focus {
    border: 2px solid #00D1C1;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, .input-prefix, .input-suffix {
    display: block;
    width: 100%;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"] {
    transition: border-color 0.2s;
}

.content-wrap-white {
  background-color: white;
}








.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

.room-list {
  a.list-group-item {
    box-sizing: border-box;
    height: 43px;
    border-radius: 0;

    &.active {
      cursor: auto;
      pointer-events : none;
    }

    &.disabled {
      cursor: auto;
      pointer-events : none;
      background-color: white;
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #c4c4c4;
    }
  }
}

.hint-box {
  position: relative;
  min-height: 200px;

  img {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: auto;
  }

  p {
    font-size: 16px;
    color: #565a5c;
    margin: 10px 20px 0 20px;
  }

  div ul {
    margin: 20px 20px 0 20px;

    li p {
      font-size: 14px;
      margin: 0px 10px 0 10px;
    }
  }
}

.edit-lecture-switch {
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  width: 300px;
}
