html {height:100%;}
body {height:100%; padding: 0}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

.content-wrap {
	position: relative;
    min-height: 500px;
    width: 100%;
    padding: 20px 50px 40px 50px;
    margin-bottom: 0px;
    text-align: center;
    display: inline-block;
}

.content-header {
    padding: 20px 0 10px 20px;
    margin: 0;

    h1 {
		small {
			font-size:16px;
			color: #3D5AFE;
			cursor: pointer;

			&::before {
			    content: "\f105";
			    color: #424242;
			    display: inline-block;
			    font-family: FontAwesome;
			    margin: 0 10px 0 10px;
			}
		}    	
    }
}