.device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 2;
    text-align: left;
    display: block;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 3px #111;
}

.device .screen img {
    height: 459px;
    margin-bottom: -6px;
    width: 276px;
}

#iphone5s .device {
    background: #2c2b2c;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    padding: 105px 22px;
    position: relative;
    width: 320px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

#iphone5s .inner {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
    -moz-border-radius: 46px;
    -webkit-border-radius: 46px;
    border-radius: 46px;
    background: #1e1e1e;
    z-index: 1;
}

#iphone5s .sleep {
    position: absolute;
    top: -4px;
    right: 60px;
    width: 60px;
    height: 4px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    background: #282727;
}

#iphone5s .volume, #iphone5c .volume {
    position: absolute;
    left: -4px;
    top: 180px;
    z-index: 0;
    height: 27px;
    width: 4px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: #282727;
}

#iphone5s .volume:before, #iphone5c .volume:before {
    position: absolute;
    left: 0px;
    top: -75px;
    height: 35px;
    width: 4px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
}

#iphone5s .volume:after, #iphone5c .volume:after {
    position: absolute;
    left: 0px;
    bottom: -64px;
    height: 27px;
    width: 4px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
}

#iphone5s.silver .device {
    background: #bcbcbc;
}

#iphone5s.silver .inner {
    background: #fcfcfc;
}

#iphone5s.silver .start {
    -webkit-box-shadow: inset 0 0 0 4px #bcbcbc;
    box-shadow: inset 0 0 0 4px #bcbcbc;
}

.silver .start:after, .gold .start:after {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#iphone5s.silver .top-bar {
    background: #eaebec;
}

#iphone5s.silver .volume {
    background: #d6d6d6;
}