div.dashboard-wrap {
    div.message-wrap {
        margin-bottom: 3.2rem;
        padding-bottom: 1rem;

        div.message-node {
            position: relative;
            margin : 1rem;
            padding: 0.6rem;
            border-radius: 4px;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
            background-color: rgba(255,255,255,1.0);
            min-height: 10rem;

            &:after {
                content: ".";
                clear: both;
                height: 0;
                display: block;
                visibility: hidden;
            }

            div.likes-wrap {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 0 5px;

                div.likes {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 2rem;
                    box-shadow: 0px 1px 2px #989898;
                    float: left;
                    display: inline;
                    position: relative;

                    p {
                        position: absolute;
                        top: 1.2rem;
                        left: 0;
                        padding: 0;
                        margin: 0;
                        width: 4rem;
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        text-align: center;
                    }
                }

                div.likes-button {
                    p {
                        position: relative;
                        top: -0.8rem;
                        margin: 0;
                        padding: 0;
                        font-size: 0.8rem;
                        color: #424242;
                        text-align: center;
                    }
                }
            }

            p.message-text {
                font-size: 1.4rem;
                line-height: 2.2rem;
                margin: 0 0 2.2rem 6rem;
            }

            p.message-time {
                position: absolute;
                right: 1.2rem;
                bottom: 0;
                font-size: 1.2rem;
                text-align: right;
                color: #999999;
            }
        }
    }

    div.message-form {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: #E0E0E0;

        textarea {
            float: left;
            line-height: 2.4rem;
            width: calc(100% - 50px);
            font-size: 1.6rem;
            padding: 0;
            border: 0;
            border-radius: 2px;
            resize: none;
        }

        div.message-submit {
            float: right;
            width: 45px;
            height: 2.4rem;
            border-radius: 2px;
            background-color: #3F51B5;
            margin-left: 5px;
            &:active {
                background-color: #5C6BC0;
            }

            p {
                text-align: center;
                color: white;
                font-size: 1.6rem;
                margin: 0.1rem 0 0.1rem 0;
            }
        }
    }
}
