div.dashboard-wrap {
    div.messages {
        padding-bottom: 5rem;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        div.message-node {
            position: relative;
            margin : 1rem;
            padding: 0.6rem 0.6rem 0.6rem 1rem;
            border-radius: 4px;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
            background-color: rgba(255,255,255,1.0);
            min-height: 8rem;

            &:after {
                content: ".";
                clear: both;
                height: 0;
                display: block;
                visibility: hidden;
            }

            div.likes-wrap {
                position: absolute;
                top: 1rem;
                right: 10px;
                padding: 0 5px;

                p.like-message {
                    position: relative;
                    top: -5px;
                    margin: 0;
                    padding: 0;
                    font-size: 7px;
                    color: #424242;
                    text-align: center;
                }

                p.likes {
                    left: 0;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    text-align: center;
                }
            }

            div.message-text {
                margin: 0 6rem 2rem 0;

                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    white-space: normal;
                    margin: 0;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            div.message-info {
                position: absolute;
                bottom: 0;
                left: 2rem;
                width:calc(100% - 9rem);
                margin: 0 6rem 0.5rem 0;
                font-size: 0.8rem;
                color: #BDBDBD;

                div:nth-child(1) {
                    text-align: left;
                    float: left;
                }

                div:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }

    div.message-form {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: #E0E0E0;

        textarea {
            float: left;
            line-height: 26px;
            width: calc(100% - 50px);
            font-size: 18px;
            padding: 0;
            border: 0;
            border-radius: 2px;
            resize: none;
        }

        div.message-submit {
            float: right;
            width: 45px;
            height: 26px;
            border-radius: 2px;
            background-color: #3F51B5;
            margin-left: 5px;
            &:active {
                background-color: #5C6BC0;
            }

            p {
                text-align: center;
                color: white;
                font-size: 16px;
                margin: 2px 0 2px 0;
            }
        }
    }
}
